body, * {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--white);
}

#container{
    display: flex;
    flex-direction: column;
}

/*Banner*/
#bannerContainer{
    display: flex;
    flex-direction: column;

    background-color: var(--blue1);
    width: 100%;
    padding: 3em 10%;

    box-sizing: border-box;
}

#navbarContainer{
    display: flex;

    align-items: center;
}

#logo{
    flex-basis: 10%;
}

#logo img{
    width: 75%;

    cursor: pointer;
}

#menu{
    flex-basis: 90%;
}

#menu ul{
    text-decoration: none;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    text-align: right;
}

#menu ul li{
    display: inline-block;

    font-size: 2.5em;
    font-family: 'Manuale Medium';
    color: var(--white);

    margin-left: 1em;

    cursor: pointer;
    transition: all .2s ease-in;
}

#menu ul li:hover{
    color: var(--orange);
}

#menu ul li:active{
    color: var(--blue3);
}

#menu .dropdown{
    position: relative;
    display: none;
    text-align: right;
}

#menu .dropdownContent{
    display: none;
    position: absolute;
    background-color: var(--blue);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    right: 0;
}

#menu .dropdownContent a{
    color: var(--blue3);
    padding: .4em .75em;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1.5em;
    font-family: 'Manuale Medium';

    transition: all .2s ease-in;
}

#menu .dropdownContent a:hover{
    background-color: var(--orange);
    color: var(--white);
}

#menu .dropdown:hover .dropdownContent{
    display: block;
}

#menu .dropdown:hover .iconify{
    color: var(--blue) !important;
}

#bannerContent{
    display: flex;
    padding: 3em 0 0 0;
}

#bannerText{
    flex-basis: 60%;
}

.bannerTitle{
    font-family: 'Manuale Medium';
    font-size: 2.75em;
    color: var(--white);
}

.bannerSubtitle{
    font-family: 'Manuale Medium';
    font-size: 1.5em;
    color: var(--white);
}

#bannerImage{
    flex-basis: 40%;
}

#bannerImage img{
    width: 100%;
}

.bannerButton{
    background-color: var(--orange);
    border: inherit;
    border: .1em solid var(--orange);

    font-family: 'Manuale Medium';
    font-size: 2.5em;
    color: var(--white);

    padding: .2em .65em;
    margin-top: .5em;

    cursor: pointer;

    transition: all 0.2s ease-in;
    box-sizing: border-box;
}

.bannerButton:hover{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.bannerButton:active{
    color: var(--blue3);
}

/*About Our Products*/
#productContainer{
    display: flex;

    padding: 2.5em 10% 2em 10%;
    box-sizing: border-box;
}

#productLeftContainer{
    flex-basis: 30%;
}

#productLeftImage{
    width: 100%;
    object-fit: cover;

    box-sizing: border-box;
}

#productLeftImage img{
    width: 100%;
    background-size: cover;
    object-fit: cover;
    border: .2em solid var(--blue3);
}

#productRightContainer{
    flex-basis: 70%;
    padding: 0 0 0 2em;
}

#productRightContainer h1{
    font-family: 'Manuale SemiBold';
    color: var(--blue3);
    font-weight: normal;
    font-size: 2.5em;

    line-height: 70%;

    margin-bottom: .25em;
}

#productRightContainer p{
    font-family: 'Manuale Medium';
    color: var(--blue3);
    font-size: 1.25em;
    margin-bottom: .25em;
}

/*Pricing*/
#pricing{
    display: flex;
    flex-direction: column;

    background-color: var(--blue);
    padding: 2.5em 10%;
    box-sizing: border-box;
}

#pricing h1{
    font-family: 'Manuale SemiBold';
    color: var(--blue3);
    font-weight: normal;
    font-size: 2.5em;
    line-height: 70%;

    margin-bottom: 1.15em;
    text-align: center;
}

#pricingContent{
    display: flex;
    flex-wrap: wrap;
}

.pricingContainer{
    flex-basis: 32%;
    background-color: var(--white);
    margin: 0 auto;
    height: auto;

    transition: all .2s ease-in;
}

.pricingContainer:hover{
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.pricingContainer:nth-child(1){
    margin-left: inherit;
}

.pricingContainer:nth-child(3){
    margin-right: inherit;
}

.pricingHeader{
    background-color: var(--blue1);
}

.pricingHeader h2{
    text-align: center;
    padding: .5em 0;
    font-size: 2.5em;
    font-family: 'Manuale Medium';
    color: var(--white);

    font-weight: inherit;
    line-height: 100%;
}

.pricingBody{
    padding: 1.5em 15% 4em 15%; 
    box-sizing: border-box;
}

.pricingPriceTag .price{
    font-size: 6em;
    font-family: 'Manuale Medium';
    color: var(--orange);
    line-height: 100%;

    margin-left: 15%;
}

.pricingPriceTag .subprice{
    text-align: right;
    font-size: 2.25em;
    font-family: 'Manuale Medium';
    color: var(--blue1);
    line-height: 100%;

    margin-right: 20%;
    margin-bottom: 1em;
}

.pricingPriceTag .priceline{
    border-top: .15em solid var(--blue1);
}

.pricingButtonContainer{
    padding: 2em 0;
}

.pricingButton{
    width: 100%;
    background-color: var(--orange);
    outline: inherit;
    border: inherit;
    color: var(--white);
    font-size: 2.5em;
    font-family: 'Manuale Medium';
    border-radius: inherit;
    padding: .2em 0 .25em 0;

    cursor: pointer;
}

.pricingTraitsContainer{
    display: flex;
    flex-direction: column;
}

.pricingTraitContent{
    display: flex;
    padding: .25em 0;
}

.pricingTraitContent{
    border-bottom: .05em solid var(--blue1);
}

.pricingTraitContent:nth-child(1){
    border-top: .05em solid var(--blue1);
    border-bottom: .05em solid var(--blue1);
}

.pricingTraitText{
    display: flex;
    align-items: center;

    font-size: 1em;
    font-family: 'Manuale Medium';
    line-height: 100%;
    color: var(--blue1);
    padding-bottom: .1em;
}

.pricingTraitText img{
    min-width: 2em;
    max-width: 2em;
}

.pricingTraitText span{
    width: 100%;
    padding-left: .25em;
}

/*Who Are We*/
#whoIsUs{
    width: 100%;
    height: 32em;

    background: linear-gradient(0deg, rgba(18, 86, 160, 0.8), rgba(18, 86, 160, 0.8)), url(../images/image2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#whoIsUs #whoIsUsContainer{
    display: flex;

    width: 100%;
    height: 100%;
}

#whoIsUs #leftSection{
    flex-basis: 10%;
    position: relative;

    align-items: center;
    justify-content: center;
}

#whoIsUs #leftSection .previous{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

#whoIsUs #leftSection .previous img{
    width: 100%;
    transition: opacity 0.2s ease-in;
}

#whoIsUs #middleSection{
    flex-basis: 80%;
    position: relative;

    overflow: hidden;
}

#whoIsUs #middleSection .content1, #whoIsUs #middleSection .content2{
    text-align: center;
    position: absolute;

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    width: 100%;
    padding: 0 10%;

    box-sizing: border-box;
}

#whoIsUs #middleSection .content1{
    margin-top: -.5em;
}

#whoIsUs #middleSection .content2{
    display: none;
}

#whoIsUs #middleSection h1{
    line-height: 100%;
    color: var(--white);
    font-family: 'Manuale Medium';
    font-size: 4em;
    font-weight: inherit;
}

#whoIsUs #middleSection p{
    color: var(--white);
    font-family: 'Manuale Medium';
    font-size: 1.5em;
    font-weight: inherit;
}

#whoIsUs #rightSection{
    flex-basis: 10%;
    position: relative;

    align-items: center;
    justify-content: center;
}

#whoIsUs #rightSection .next{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

#whoIsUs #rightSection .next img{
    width: 100%;
    transition: opacity 0.2s ease-in;
}

#whoIsUs #leftSection .previous img:hover, #whoIsUs #rightSection .next img:hover{
    opacity: .7;
    cursor: pointer;
}

#whoIsUs #leftSection .previous img:active, #whoIsUs #rightSection .next img:active{
    opacity: .5;
}

/*Benefits*/

#benefits{
    padding: 1.75em 10% 2em 10%;
}

#benefits #allBenefits{
    display: flex;
    flex-direction: column;
}

#benefits h1{
    font-family: 'Manuale SemiBold';
    color: var(--blue3);
    font-weight: normal;
    font-size: 2.5em;

    margin-bottom: .75em;
    text-align: center;

    line-height: 100%;
}

.benefitsContainer{
    display: flex;
    margin-bottom: 1.5em;
}

.benefitsIcon{
    flex-basis: 12%;
}

.benefitsIcon img{
    width: 65%;
    float: right;
}

.benefitsText{
    flex-basis: 88%;
    padding-left: 1.5em;
}

.benefitsText h2{
    font-size: 1.75em;
    font-family: 'Manuale SemiBold';
    font-weight: normal;
    line-height: 100%;
    margin-top: -.1em;
    margin-bottom: .25em;
    color: var(--blue3);
}

.benefitsText p{
    font-size: 1.25em;
    font-family: 'Manuale Medium';
    color: var(--blue3);
}

/*Why Choose Us*/

#whyUs #whyUsTitle h1{
    font-family: 'Manuale SemiBold';
    color: var(--blue3);
    font-weight: normal;
    font-size: 2.5em;

    margin-bottom: .75em;
    text-align: center;

    line-height: 100%;
}

#whyUs #whyUsContainer{
    display:flex;
    flex-wrap: wrap;

    padding: 0 10%;
    width: 100%;
    box-sizing: border-box;
}

#whyUs .whyUsContent{
    display: flex;
    flex-direction: column;

    flex-basis: 21%;
    background-color: var(--blue1);

    margin: auto;
    margin-bottom: 2em;
    height: auto;

    padding: 1.5em 0;

    box-sizing: border-box;

    transition: all .2s ease-in;
}

#whyUs .whyUsContent:hover{
    box-shadow: 0px 0px 2px 2px var(--blue3);
}

#whyUs .whyUsContent:nth-child(4n+1){
    margin-left: inherit;
}

#whyUs .whyUsContent:nth-child(4n+4){
    margin-right: inherit;
}

.whyUsContent .whyUsIcon{
    width: 75%;
    border-radius: 50%;
    background-color: var(--white);

    margin: 0 auto;
}

.whyUsContent .whyUsIcon::before{
    content: "";
    float: left;
    padding-top: 100%;
}

.whyUsContent .whyUsIcon img{
    position: relative;
    transform: translateY(20%);
    -ms-transform: translateY(20%);

    display: block;
    width: 75%;
    margin: 0 auto;
}

.whyUsContent .whyUsText{
    padding: 1em 1em 0 1em;
}

.whyUsContent .whyUsText h2{
    font-size: 2em;
    font-family: 'Manuale Medium';
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
    color: var(--white);
}

.whyUsContent .whyUsTextFlip{
    display: none;
    flex-basis: 100%;
    padding: 1.5em 1em;

    box-sizing: border-box;
}

.whyUsContent .whyUsTextFlip p{
    font-size: 1.5em;
    font-family: 'Manuale Medium';
    text-align: center;
    line-height: 100%;
    color: var(--white);

    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

#testimony{
    background-color: var(--blue);
    padding: 2em 10%;
}

/*Testimony*/

#testimony h1{
    font-family: 'Manuale SemiBold';
    color: var(--blue3);
    font-weight: normal;
    font-size: 2.5em;

    margin-bottom: 1em;
    text-align: center;

    line-height: 100%;
}

#testimony #testimonyContainer{
    display: flex;
    flex-wrap: wrap;
}

#testimony #testimonyContainer .testimonyContent{
    flex-basis: 31%;
    background-color: var(--white);
    margin: auto;

    transition: all 0.2s ease-in;
}

#testimony #testimonyContainer .testimonyContent:hover{
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
}

#testimony #testimonyContainer .testimonyContent:nth-child(3n+1){
    margin-left: 0;
}

#testimony #testimonyContainer .testimonyContent:nth-child(3n+3){
    margin-right: 0;
}

.testimonyContent .testimonyImage{
    height: 14em;

    background-image: url(../images/image3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.testimonyContent .testimonyText{
    padding: .75em 1.5em 1em 1.5em;
}

.testimonyText p{
    font-family: 'Manuale SemiBold';
    color: var(--blue3);
    font-size: 1.25em;

    margin-bottom: .25em;
}

.testimonyText small{
    font-family: 'Manuale SemiBold';
    color: var(--orange);
    font-size: 1em;
}

/*Blogs*/
#blogs{
    padding: 2.5em 10%;
}

#blogs h1{
    font-family: 'Manuale SemiBold';
    color: var(--blue3);
    font-weight: normal;
    font-size: 2.5em;

    margin-bottom: 1em;
    text-align: center;

    line-height: 100%;
}

#blogs #blogsContainer{
    display: flex;
}

.blogsContent{
    flex-basis: 31%;
    margin: auto;
    box-sizing: border-box;
}

.blogsContent:nth-child(3n+1){
    margin-left: 0;
}

.blogsContent:nth-child(3n+3){
    margin-right: 0;
}

.blogsContent .blogImage{
    height: 14em;

    background-image: url(../images/image4.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    transition: all .2s ease-in;
}

.blogsContent .blogText{
    padding: .5em 0;
    transition: all .2s ease-in;
}

.blogsContent a{
    text-decoration: none;
}

.blogsContent:hover .blogText, .blogsContent:hover .blogImage{
    opacity: .9;
}

.blogText h2{
    font-size: 1.75em;
    font-weight: normal;
    font-family: 'Manuale SemiBold';
    color: var(--blue3);

    line-height: 100%;
}

.blogText small{
    font-size: 1em;
    font-family: 'Manuale SemiBold';
    color: var(--orange);
}

.blogText p{
    font-size: 1.25em;
    font-family: 'Manuale Medium';
    color: var(--blue3);
}

/*Portofolio */

#portofolio{
    padding: 2.5em 10%;
}

#portofolio h1{
    font-family: 'Manuale SemiBold';
    color: var(--blue3);
    font-weight: normal;
    font-size: 2.5em;

    margin-bottom: 1em;
    text-align: center;

    line-height: 100%;
}

#portofolioContainer{
    display: flex;
    flex-wrap: wrap;
}

.portofolioContent{
    flex-basis: calc(100%/3);
    margin-bottom: 1em;
    height: auto;
    transition: all .2s ease-in;
}

.portofolioContent:hover{
    opacity: .9;
}

.portofolioImage{
    width: 100%;
    height: 14em;
    background-image: url(../images/image5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    cursor: pointer;
}

#faq{
    background-color: var(--blue);
    padding: 2em 10% 2.5em 10%;
}

#faq h1{
    font-family: 'Manuale SemiBold';
    color: var(--blue3);
    font-weight: normal;
    font-size: 2.5em;

    margin-bottom: 1em;
    text-align: center;

    line-height: 100%;
}

#faqContainer{
    display:flex;
    flex-direction: column;
}

.faqTitle{
    padding: .75rem 1.5rem;
    box-sizing: border-box;
    border-bottom: .15em solid var(--blue3);
    background-color: var(--white);
    cursor: pointer;
    transition: all .2s ease-in;
}

.faqTitle:hover{
    opacity: .9;
}

.faqTitle h2{
    color: var(--blue3);
    font-family: 'Manuale SemiBold';
    font-size: 1.5em;
}

.faqText{
    border-bottom: .1em solid var(--blue3);
    background-color: var(--white);
    
    max-height: 0;
    overflow: hidden;
    box-sizing: border-box;
    transition: all .2s ease-in;
}

.faqText p{
    padding: .75rem 1.25rem 1rem 1.25rem;
    color: var(--blue3);
    font-size: 1.25em;
    font-family: 'Manuale Medium';
    box-sizing: border-box;
}

#supportedBy{
    background-color: var(--blue);
    padding: 0em 10% 2.5em 10%;
}

#supportedBy h1{
    font-family: 'Manuale SemiBold';
    color: var(--blue3);
    font-weight: normal;
    font-size: 2.5em;

    margin-bottom: 1em;
    text-align: center;

    line-height: 100%;
}

#supportedContainer{
    display: flex;
}

.supportedContent{
    flex-basis: 10%;
    margin: auto;
}

.supportedContent:nth-child(6n + 1){
    margin-left: 0;
}

.supportedContent:nth-child(6n + 6){
    margin-right: 0;
}

.supportedContent img{
    width: 100%;
}

@media screen and (min-width: 1628px){
    #menu ul li{
        font-size: 3em;
    }

    #bannerText{
        flex-basis: 55%;
    }

    #bannerImage{
        flex-basis: 45%;
    }

    .bannerTitle{
        font-size: 3.5em;
    }

    .bannerSubtitle{
        font-size: 2em;
    }

    .bannerButton{
        font-size: 3.5em;
        padding: .1em .65em .2em .65em;

        margin-top: .4em;
    }

    #productRightContainer h1{
        font-size: 2.75em;
    }

    #productRightContainer p{
        font-size: 1.5em;
    }

    #pricing h1{
        font-size: 2.75em;
    }

    .pricingTraitText{
        font-size: 1.25em;
    }

    #whoIsUs #middleSection h1{
        font-size: 4.5em;
    }

    #whoIsUs #middleSection p{
        font-size: 1.75em;
    }

    #benefits h1{
        font-size: 2.75em;
    }

    .benefitsText h2{
        font-size: 1.75em;
    }

    .benefitsText p{
        font-size: 1.5em;
    }

    #whyUs #whyUsTitle h1{
        font-size: 2.75em;
    }
    
    .whyUsContent .whyUsText h2{
        font-size: 2.25em;
    }
    
    .whyUsContent .whyUsTextFlip p{
        font-size: 1.75em;
    }

    #testimony h1{
        font-size: 2.75em;
    }
    
    .testimonyText p{
        font-size: 1.5em;
    }
    
    .testimonyText small{
        font-size: 1.25em;
    }

    #blogs h1{
        font-size: 2.75em;
    }

    .blogText h2{
        font-size: 2em;
    }

    .blogText small{
        font-size: 1.25em;
    }

    .blogText p{
        font-size: 1.5em;
    }

    #portofolio h1{
        font-size: 2.75em;
    }

    #faq{
        padding: 2.25em 10% 2.5em 10%;
    }

    #faq h1{
        font-size: 2.75em;
    }

    .faqTitle h2{
        font-size: 1.75em;
    }

    .faqText p{
        font-size: 1.5em;
    }

    #supportedBy h1{
        font-size: 2.75em;
    }
}

@media screen and (min-width: 1880px){
    #menu ul li{
        font-size: 3.5em;
    }

    #bannerText{
        flex-basis: 50%;
    }

    #bannerImage{
        flex-basis: 50%;
    }

    .bannerTitle{
        font-size: 3.75em;
    }

    .bannerSubtitle{
        font-size: 2.25em;
    }

    .bannerButton{
        font-size: 3.75em;
        padding: .1em .65em .2em .65em;

        margin-top: .4em;
    }

    #productRightContainer h1{
        font-size: 3.25em;
    }

    #productRightContainer p{
        font-size: 1.75em;
    }

    #pricing h1{
        font-size: 3.25em;
        margin-bottom: .95em;
    }

    .pricingHeader h2{
        font-size: 3em;
    }

    .pricingPriceTag .price{
        font-size: 7em;
    }

    .pricingPriceTag .subprice{
        font-size: 2.75em;
        margin-bottom: .75em;
    }

    .pricingButton{
        font-size: 3.25em;
    }

    .pricingTraitText{
        font-size: 1.5em;
    }

    #whoIsUs #middleSection h1{
        font-size: 5em;
    }

    #whoIsUs #middleSection p{
        font-size: 2.25em;
    }

    #benefits{
        padding: 2.5em 10% 2em 10%;
    }

    #benefits h1{
        font-size: 3.25em;
        margin-bottom: 1em;
    }

    .benefitsText h2{
        font-size: 2em;
    }

    .benefitsText p{
        font-size: 1.75em;
    }

    #whyUs #whyUsTitle h1{
        font-size: 3.25em;
    }
    
    .whyUsContent .whyUsText h2{
        font-size: 2.75em;
    }
    
    .whyUsContent .whyUsTextFlip p{
        font-size: 2em;
    }

    #testimony h1{
        font-size: 3.25em;
        margin-bottom: .75em;
    }

    .testimonyContent .testimonyImage{
        height: 19em;
    }
    
    .testimonyText p{
        font-size: 1.75em;
    }
    
    .testimonyText small{
        font-size: 1.5em;
    }

    #blogs h1{
        font-size: 3.25em;
    }

    .blogText h2{
        font-size: 2.25em;
    }

    .blogText small{
        font-size: 1.5em;
    }

    .blogText p{
        font-size: 1.75em;
    }

    .blogsContent .blogImage{
        height: 19em;
    }

    #portofolio h1{
        font-size: 3.25em;
    }
    
    .portofolioImage{
        height: 19em;
    }

    #faq h1{
        font-size: 3.25em;
    }

    .faqTitle h2{
        font-size: 2em;
    }

    .faqText p{
        font-size: 1.75em;
    }

    #supportedBy h1{
        font-size: 3.25em;
    }

    .supportedContent{
        flex-basis: 13%;
    }
}

@media screen and (min-width: 2160px){
    #menu ul li{
        font-size: 4em;
    }

    .bannerTitle{
        font-size: 4.25em;
    }

    .bannerSubtitle{
        font-size: 2.5em;
    }

    .bannerButton{
        font-size: 4em;
        padding: .1em .65em .2em .65em;

        margin-top: .4em;
    }

    #productRightContainer h1{
        font-size: 3.75em;
    }

    #productRightContainer p{
        font-size: 2.25em;
    }

    #pricing h1{
        font-size: 3.75em;
        margin-top: .25em;
    }

    .pricingHeader h2{
        font-size: 3.5em;
    }

    .pricingPriceTag .price{
        font-size: 8.5em;
    }

    .pricingPriceTag .subprice{
        font-size: 3.5em;
        margin-bottom: .5em;
    }

    .pricingButton{
        font-size: 3.5em;
    }

    .pricingTraitText{
        font-size: 2em;
        padding: .25em 0 .25em .25em;
    }

    #whoIsUs{
        height: 36em;
    }

    #whoIsUs #middleSection h1{
        font-size: 6em;
    }

    #whoIsUs #middleSection p{
        font-size: 2.75em;
    }

    #benefits h1{
        font-size: 3.75em;
    }

    .benefitsText h2{
        font-size: 2.5em;
    }

    .benefitsText p{
        font-size: 2.25em;
    }

    .benefitsIcon{
        flex-basis: 15%;
    }

    .benefitsText{
        flex-basis: 85%;
    }

    #whyUs #whyUsTitle h1{
        font-size: 3.75em;
    }
    
    .whyUsContent .whyUsText h2{
        font-size: 2.75em;
    }
    
    .whyUsContent .whyUsTextFlip p{
        font-size: 2.25em;
    }

    #testimony{
        padding: 2.5em 10%;
    }

    #testimony h1{
        font-size: 3.75em;
        margin-bottom: .75em;
    }

    .testimonyContent .testimonyImage{
        height: 20em;
    }
    
    .testimonyText p{
        font-size: 2em;
        margin-bottom: 0;
    }
    
    .testimonyText small{
        font-size: 1.75em;
    }

    #blogs{
        padding: 3em 10%;
    }

    #blogs h1{
        font-size: 3.75em;
    }

    .blogText h2{
        font-size: 2.5em;
    }

    .blogText small{
        font-size: 1.75em;
    }

    .blogText p{
        font-size: 2em;
    }

    .blogsContent .blogImage{
        height: 20em;
    }

    #portofolio h1{
        font-size: 3.75em;
    }
    
    .portofolioImage{
        height: 20em;
    }

    #faq{
        padding: 3em 10% 2.5em 10%;
    }

    #faq h1{
        font-size: 3.75em;
    }

    .faqTitle h2{
        font-size: 2.25em;
    }

    .faqText p{
        font-size: 2em;
    }

    #supportedBy{
        padding: 1em 10% 2.5em 10%;
    }

    #supportedBy h1{
        font-size: 3.75em;
    }

    .supportedContent{
        flex-basis: 13%;
    }
}

@media screen and (min-width: 2340px){
    #menu ul li{
        font-size: 4.5em;
    }

    .bannerTitle{
        font-size: 4.5em;
    }

    .bannerSubtitle{
        font-size: 2.75em;
    }

    .bannerButton{
        font-size: 4em;
        padding: .1em .65em .2em .65em;

        margin-top: .4em;
    }

    #productRightContainer h1{
        font-size: 4.25em;
    }

    #productRightContainer p{
        font-size: 2.5em;
    }

    #pricing h1{
        font-size: 4.25em;
    }

    .pricingHeader h2{
        font-size: 4em;
    }

    #benefits h1{
        font-size: 4.25em;
    }

    #whyUs #whyUsTitle h1{
        font-size: 4.25em;
    }

    .whyUsContent .whyUsText h2{
        font-size: 3.25em;
    }
    
    .whyUsContent .whyUsTextFlip p{
        font-size: 2.5em;
    }

    #testimony h1{
        font-size: 4.25em;
        margin-bottom: .75em;
    }

    .testimonyContent .testimonyText{
        padding: 1.25em 2em 1.5em 2em
    }

    .testimonyContent .testimonyImage{
        height: 26em;
    }
    
    .testimonyText p{
        font-size: 2.25em;
        margin-bottom: 0;
    }
    
    .testimonyText small{
        font-size: 2em;
    }

    #blogs h1{
        font-size: 4.25em;
    }

    .blogsContent .blogImage{
        height: 26em;
    }

    .blogText h2{
        font-size: 2.75em;
    }

    .blogText small{
        font-size: 2em;
    }

    .blogText p{
        font-size: 2.25em;
    }

    #portofolio h1{
        font-size: 4.25em;
    }
    
    .portofolioImage{
        height: 26em;
    }

    #faq{
        padding: 3em 10% 2.5em 10%;
    }

    #faq h1{
        font-size: 4.25em;
    }

    .faqTitle h2{
        font-size: 2.55em;
    }

    .faqText p{
        font-size: 2.25em;
    }

    #supportedBy h1{
        font-size: 4.25em;
    }
}

@media screen and (min-width: 2473px){
    #menu ul li{
        font-size: 4.5em;
    }

    .bannerTitle{
        font-size: 4.75em;
    }

    .bannerSubtitle{
        font-size: 3em;
    }

    .bannerButton{
        font-size: 4.5em;
        padding: .1em .65em .2em .65em;

        margin-top: .4em;
    }

    #whoIsUs #middleSection h1{
        font-size: 8em;
    }

    #whoIsUs #middleSection p{
        font-size: 3.25em;
    }
}

@media screen and (max-width: 1344px){
    .pricingButton{
        font-size: 2.25em;
    }
}

@media screen and (max-width: 1308px){
    #menu ul li{
        font-size: 2.25em;
    }

    #bannerText{
        flex-basis: 65%;
    }

    .bannerTitle{
        font-size: 2.25em;
    }

    .bannerSubtitle{
        font-size: 1.25em;
    }

    .bannerButton{
        font-size: 2.25em;
        padding: .1em .65em .2em .65em;

        margin-top: .4em;
    }
}

@media screen and (max-width: 1157px){
    #menu ul li{
        font-size: 2em;
    }

    #bannerContent{
        padding: 2em 0 0 0;
    }

    #bannerText{
        flex-basis: 70%;
    }

    .bannerTitle{
        font-size: 2em;
    }

    .bannerButton{
        font-size: 2em;
    }

    .pricingButton{
        font-size: 2em;
    }

    .price{
        margin-left: 5%;
    }
    
    #whyUs .whyUsContent{
        flex-basis: 22.5%;
    }
}

@media screen and (max-width: 1027px){
    #bannerContainer{
        padding: 2em 10%;
    }

    #menu ul li{
        font-size: 1.75em;
    }

    #bannerText{
        flex-basis: 75%;
    }

    .bannerTitle{
        font-size: 1.75em;
    }

    .bannerSubtitle{
        font-size: 1em;
    }

    .bannerButton{
        font-size: 1.75em;
        margin-top: .3em;
        padding: 0 .5em .1em .5em;
    }

    .pricingHeader h2{
        font-size: 2em;
    }

    .pricingPriceTag .price{
        font-size: 5em;
        margin-left: inherit;
        text-align: center;
    }

    .pricingPriceTag .subprice{
        font-size: 2em;
        margin-bottom: .75em;
        margin-right: inherit;
        text-align: center;
    }
    
    .pricingButtonContainer{
        padding: 1.5em 0;
    }

    .pricingButton{
        font-size: 1.75em;
    }

    #whoIsUs{
        height: 28em;
    }

    #whoIsUs #middleSection h1{
        font-size: 3.5em;
    }
    
    #whoIsUs #middleSection p{
        font-size: 1.25em;
    }

    .benefitsIcon{
        flex-basis: 20%;
    }

    .benefitsText{
        flex-basis: 80%;
    }
}

@media screen and (max-width: 904px){
    #menu ul li{
        font-size: 1.45em;
    }

    #bannerText{
        flex-basis: 80%;
    }

    .bannerTitle{
        font-size: 1.4em;
    }

    .bannerButton{
        font-size: 1.4em;
    }

    #productContainer{
        padding: 2em 10% 1.5em 10%;
    }

    #productRightContainer{
        padding: 0 0 0 1.5em;
    }

    #productRightContainer h1{
        font-size: 1.75em;
    }

    #productRightContainer p{
        font-size: 1em;
    }

    .pricingButton{
        font-size: 1.5em;
    }

    #benefits h1{
        font-size: 1.75em;
    }

    .benefitsText h2{
        font-size: 1.25em;
    }

    .benefitsText p{
        font-size: 1em;
    }

    #whyUs #whyUsTitle h1{
        font-size: 1.75em;
        margin-bottom: 1.5em;
    }

    #whyUs .whyUsContent{
        flex-basis: 45%;
    }

    #whyUs .whyUsContent:nth-child(2n+1){
        margin-left: inherit;
    }

    #whyUs .whyUsContent:nth-child(2n+2){
        margin-right: inherit;
    }

    .whyUsContent .whyUsText h2{
        font-size: 2.25em;
    }

    .whyUsContent .whyUsTextFlip{
        padding: 1.5em 1.5em;
    }

    .whyUsContent .whyUsTextFlip p{
        font-size: 1.75em;
    }

    #testimony h1{
        font-size: 1.75em;
        margin-bottom: 1em;
    }
    
    .testimonyText p{
        font-size: 1em;
    }

    .testimonyContent .testimonyImage{
        height: 12em;
    }

    .testimonyContent .testimonyText{
        padding: .5em 1.25em .75em 1.25em;
    }
    
    .testimonyText small{
        font-size: .75em;
    }

    #blogs{
        padding: 1.5em 10%;
    }

    #blogs h1{
        font-size: 1.75em;
    }

    .blogsContent .blogImage{
        height: 12em;
    }

    .blogText h2{
        font-size: 1.5em;
    }

    .blogText small{
        font-size: .75em;
    }

    .blogText p{
        font-size: 1em;
    }

    #portofolio h1{
        font-size: 1.75em;
    }
    
    .portofolioImage{
        height: 12em;
    }

    #faq{
        padding: 1.5em 10% 2.5em 10%;
    }

    #faq h1{
        font-size: 1.75em;
    }

    .faqTitle h2{
        font-size: 1.25em;
    }

    .faqText p{
        font-size: 1em;
    }

    #supportedBy h1{
        font-size: 1.75em;
        margin-bottom: 1.5em;
    }
}

@media screen and (max-width: 769px){
    #logo{
        flex-basis: 15%;
    }

    #menu ul{
        display: none;
    }

    #menu .dropdown{
        display: block;
    }

    #bannerContent{
        padding: 1em 0 0 0;
    }

    #bannerText{
        flex-basis: inherit;
    }

    .bannerTitle{
        font-size: 2.75em;
        line-height: 120%;
    }

    .bannerSubtitle{
        font-size: 1.5em;
        line-height: 120%;
    }

    .bannerButton{
        font-size: 2.5em;
        margin-top: .5em;
    }

    #bannerImage{
        display: none;
    }

    #productContainer{
        flex-direction: column-reverse;

        padding: 2em 10% 2em 10%;
    }

    #productRightContainer{
        padding: 0 0 1em 0;
    }

    #productRightContainer h1{
        font-size: 2.75em;
    }

    #productRightContainer p{
        font-size: 1.5em;
    }

    #pricingContent{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .pricingContainer{
        flex-basis: inherit;
        margin: inherit;
        margin-bottom: 2em;
    }

    #pricing h1{
        font-size: 2.75em;
    }

    .pricingHeader h2{
        font-size: 2.5em;
        padding: .45em 0 .5em 0;
    }

    .pricingPriceTag .price{
        font-size: 7.5em;
        margin-left: 20%;
        text-align: left;
    }
    
    .pricingPriceTag .subprice{
        font-size: 3em;
    }

    .pricingButtonContainer{
        padding: 2em 0;
    }

    .pricingButton{
        font-size: 3.5em;
    }

    .pricingTraitText img{
        min-width: 3em;
        max-width: 3em;
    }

    .pricingTraitText span{
        font-size: 1.5em;
        line-height: 110%;
        padding-bottom: .1em;
    }

    #whoIsUs #middleSection h1{
        font-size: 4em;
    }
    
    #whoIsUs #middleSection p{
        font-size: 1.5em;
    }

    #benefits h1{
        font-size: 2.75em;
    }

    .benefitsText h2{
        font-size: 1.75em;
    }

    .benefitsText p{
        font-size: 1.5em;
    }

    #whyUs .whyUsContent{
        flex-basis: 48%;
    }

    #whyUs #whyUsTitle h1{
        font-size: 2.75em;
        margin-bottom: 1em;
    }

    #testimony{
        padding: 2.5em 10%;
    }

    #testimony h1{
        font-size: 2.75em;
        margin-bottom: 1em;
    }

    #testimony #testimonyContainer{
        flex-direction: column;
    }

    #testimony #testimonyContainer .testimonyContent{
        margin-bottom: 2em;
    }
    
    #testimony #testimonyContainer .testimonyContent:last-child{
        margin-bottom: 0;
    }

    .testimonyText p{
        font-size: 1.75em;
        margin-bottom: 0;
    }

    .testimonyContent .testimonyImage{
        height: 18em;
    }

    .testimonyContent .testimonyText{
        padding: 1em 1.75em 1.25em 1.75em;
    }
    
    .testimonyText small{
        font-size: 1.5em;
    }

    #blogs{
        padding: 2.5em 10%;
    }

    #blogs h1{
        font-size: 2.75em;
    }

    #blogs #blogsContainer{
        flex-direction: column;
    }

    .blogsContent{
        margin-bottom: 2em;
    }

    .blogsContent .blogText{
        padding: 1em 0;
    }

    .blogsContent .blogImage{
        height: 20em;
    }

    .blogText h2{
        font-size: 2.25em;
    }

    .blogText small{
        font-size: 1.5em;
    }

    .blogText p{
        font-size: 1.75em;
    }

    #portofolio{
        padding: 0 10% 1em 10%;
    }

    #portofolioContainer{
        flex-direction: column;
    }

    #portofolio h1{
        font-size: 2.75em;
    }
    
    .portofolioImage{
        height: 20em;
    }
    
    #faq{
        padding: 2.25em 10% 2.5em 10%;
    }

    #faq h1{
        font-size: 2.75em;
    }

    .faqTitle h2{
        font-size: 2em;
        line-height: 100%;
    }

    .faqText p{
        font-size: 1.75em;
    }

    #supportedBy h1{
        font-size: 2.75em;
    }

    #supportedContainer{
        flex-wrap: wrap;
    }

    .supportedContent{
        flex-basis: 26%;
        margin-bottom: 1em;
    }

    .supportedContent:nth-child(6n + 1){
        margin-left: 0;
    }

    .supportedContent:nth-child(6n + 6){
        margin-right: 0;
    }

    .supportedContent:nth-child(3n + 1){
        margin-left: 0;
    }

    .supportedContent:nth-child(3n + 3){
        margin-right: 0;
    }
}

@media screen and (max-width: 680px){
    #logo{
        flex-basis: 20%;
    }

    .bannerTitle{
        font-size: 2.25em;
    }

    .bannerSubtitle{
        font-size: 1.25em;
    }

    .bannerButton{
        font-size: 2.25em;
        margin-top: .4em;
    }

    #productRightContainer{
        padding: 0 0 .75em 0;
    }

    #productRightContainer h1{
        font-size: 2.25em;
    }

    #productRightContainer p{
        font-size: 1.25em;
        margin-bottom: .3em;
    }

    #pricing h1{
        font-size: 2.25em;
    }

    .pricingHeader h2{
        font-size: 2em;
    }

    #whoIsUs #middleSection p{
        font-size: 1.25em;
    }

    #benefits h1{
        font-size: 2.25em;
    }

    .benefitsText h2{
        font-size: 1.5em;
    }

    .benefitsText p{
        font-size: 1.25em;
    }

    #whyUs .whyUsContent{
        flex-basis: 48%;
    }

    #whyUs #whyUsTitle h1{
        font-size: 2.25em;
        margin-bottom: 1em;
    }
    
    .whyUsContent .whyUsText h2{
        font-size: 2em;
    }

    #testimony h1{
        font-size: 2.25em;
    }

    .testimonyText p{
        font-size: 1.5em;
    }

    .testimonyText small{
        font-size: 1.25em;
    }

    .testimonyContent .testimonyText{
        padding: .75em 1.5em 1em 1.5em;
    }

    .testimonyContent .testimonyImage{
        height: 16em;
    }

    #blogs{
        padding: 2em 10%;
    }

    #blogs h1{
        font-size: 2.25em;
    }

    .blogsContent .blogImage{
        height: 18em;
    }

    .blogText h2{
        font-size: 2em;
    }

    .blogText small{
        font-size: 1.25em;
    }

    .blogText p{
        font-size: 1.5em;
    }

    #portofolio h1{
        font-size: 2.25em;
    }
    
    .portofolioImage{
        height: 18em;
    }

    #faq{
        padding: 2em 10% 2.5em 10%;
    }

    #faq h1{
        font-size: 2.25em;
    }

    .faqTitle h2{
        font-size: 1.75em;
        line-height: 100%;
    }

    .faqText p{
        font-size: 1.5em;
    }

    #supportedBy h1{
        font-size: 2.25em;
    }
}

@media screen and (max-width: 558px){
    .bannerTitle{
        font-size: 1.75em;
    }

    .bannerSubtitle{
        font-size: 1em;
    }

    .bannerButton{
        font-size: 1.75em;
        margin-top: .3em;
    }

    #productRightContainer h1{
        font-size: 2em;
    }

    #productRightContainer p{
        font-size: 1em;
    }

    .pricingPriceTag .price{
        font-size: 6.5em;
        margin-left: 18%;
    }

    .pricingPriceTag .subprice{
        font-size: 2.5em;
        margin-bottom: .5em;
    }

    .pricingButton{
        font-size: 2.5em;
    }

    .pricingTraitText span{
        font-size: 1.25em;
    }

    .pricingTraitText img{
        min-width: 2.5em;
        max-width: 2.5em;
    }

    .whyUsContent .whyUsText h2{
        font-size: 1.75em;
    }
}

@media screen and (max-width: 427px){
    #logo{
        flex-basis: 28%;
    }

    .bannerButton{
        margin-top: .5em;
    }

    #productContainer{
        padding: 1.75em 10% 1.75em 10%;
    }

    #productRightContainer h1{
        font-size: 1.75em;
    }

    #pricing{
        padding: 2em 10% 2.25em 10%;
    }

    #pricing h1{
        font-size: 1.75em;
    }

    .pricingHeader h2{
        font-size: 1.75em;
    }

    .pricingPriceTag .price{
        font-size: 5.5em;
    }

    .pricingPriceTag .subprice{
        font-size: 2em;
    }

    .pricingButtonContainer{
        padding: 1.5em 0;
    }
    
    .pricingButton{
        font-size: 2em;
    }

    .pricingTraitText span{
        font-size: 1em;
    }

    .pricingTraitText img{
        min-width: 2em;
        max-width: 2em;
    }

    #whoIsUs{
        height: 25em;
    }

    #whoIsUs #middleSection h1{
        font-size: 2em;
    }
    
    #whoIsUs #middleSection p{
        font-size: 1em;
    }

    #benefits h1{
        font-size: 1.75em;
    }

    .benefitsContainer{
        flex-direction: column;
    }

    .benefitsIcon{
        flex-basis: inherit;
    }

    .benefitsIcon img{
        position: relative;
        float: inherit;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
        width: 30%;

        margin-top: .25em;
    }

    .benefitsText{
        flex-basis: inherit;
        padding: inherit;
        padding-top: .5em;
    }

    .benefitsText h2{
        font-size: 1.25em;
        text-align: center;
    }

    .benefitsText p{
        font-size: 1em;
        text-align: center;
    }

    #whyUs #whyUsTitle h1{
        font-size: 1.75em;
        margin-bottom: 1.5em;
    }

    #whyUs #whyUsContainer{
        flex-direction: column;
    }

    #whyUs .whyUsContent{
        flex-basis: inherit;

        margin-bottom: 2em !important;
    }

    #whyUs .whyUsContent:nth-child(2n+1){
        margin: inherit;
    }

    #whyUs .whyUsContent:nth-child(2n+2){
        margin: inherit;
    }

    .whyUsContent .whyUsText h2{
        font-size: 2.75em;
    }

    .whyUsContent .whyUsTextFlip p{
        font-size: 2.25em;
    }

    #whyUs #whyUsTitle h1{
        font-size: 1.75em;
    }

    #testimony{
        padding: 1.75em 10%;
    }

    #testimony h1{
        font-size: 1.75em;
    }

    .testimonyText p{
        font-size: 1.25em;
    }

    .testimonyText small{
        font-size: 1em;
    }

    .testimonyContent .testimonyImage{
        height: 14em;
    }

    #blogs{
        padding: 1.5em 10%;
    }

    #blogs h1{
        font-size: 1.75em;
    }

    .blogsContent{
        margin-bottom: 1.5em;
    }

    .blogsContent .blogImage{
        height: 14em;
    }

    .blogText h2{
        font-size: 1.7em;
    }

    .blogText small{
        font-size: 1em;
    }

    .blogText p{
        font-size: 1.26em;
    }

    #portofolio h1{
        font-size: 1.75em;
    }
    
    .portofolioImage{
        height: 14em;
    }

    #faq{
        padding: 2em 10% 2.5em 10%;
    }

    #faq h1{
        font-size: 1.75em;
    }

    .faqTitle{
        padding: .75rem 1rem;
    }

    .faqTitle h2{
        font-size: 1.5em;
        line-height: 100%;
    }

    .faqText p{
        font-size: 1.25em;
        padding: .75rem 1rem 1rem 1rem;
    }

    #supportedBy h1{
        font-size: 1.75em;
    }
}

@media screen and (max-width: 376px){
    .pricingPriceTag .price{
        font-size: 5em;
        margin-left: 13%;
    }

    .pricingButton{
        font-size: 1.75em;
    }
}