body, *{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

#container{
    width: 100%;
}

/*Floating Menu*/
#floatingMenu{
    display: none;

    position: fixed;
    top: 3em;
    right: 3em;
    z-index: 99;
}

#floatingMenu #menuIcon{
    width: 5em;
}

/*Header*/
#header{
    display: flex;
}

#leftHeaderContainer{
    flex-basis: 5%;
    overflow: hidden;
    height: 100vh;

    position: sticky;
    top: 0;

    padding: 3rem 0;

    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#leftHeaderContainer #leftHeaderInnerContainer{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

#leftHeaderContainer .shareText{
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    font-family: 'Share Regular';
    font-size: 2em;
    line-height: 100%;

    margin-block-end: 0;
    margin-block-start: 0;

    writing-mode: vertical-rl;

    color: var(--black);
}

#leftHeaderContainer .shareIconContainer{
    width: 100%;

    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
    gap: .25em;
}

#leftHeaderContainer .shareIcon{
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    width: 40%;
    background-size: contain;
    background-repeat: no-repeat;
}

#leftHeaderContainer .line{
    width: 0px;
    height: 4em;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    border: .05em solid var(--black);
    margin: 1.5em 0;
}

#leftHeaderContainer .sideTitle{
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    font-family: 'Share Regular';
    font-size: 2em;
    line-height: 100%;

    margin-block-end: 0;
    margin-block-start: 0;

    writing-mode: vertical-rl;

    color: var(--black);
}

#middleHeaderContainer{
    flex-basis: 63%;
}

#middleHeaderContainer #mainPoster{
    width: 100%;
}

#rightHeaderContainer{
    flex-basis: 32%;
    overflow: hidden;
    height: 100vh;
    
    position: sticky;
    top: 0;

    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 200%;

    padding: 2em 0;
}

#rightHeaderContainer #rightHeaderInnerContainer{
    margin: 0 auto;
    padding: 0 5%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

#rightHeaderContainer .filmTitle{
    font-family: 'Share Italic';
    font-size: 4.25em;
    text-align: center;

    color: var(--black);
}

#rightHeaderContainer .filmDate{
    font-family: 'Share Regular';
    font-size: 3em;
    text-align: center;

    margin-top: 1rem;
    color: var(--black);
}

#rightHeaderContainer #menu{
    margin-top: 2.5rem;
}

#menu ul{
    text-align: center;
    list-style-type: none;
}

#menu ul a{
    text-decoration: none;
    color: var(--black);
}

#menu ul a li{
    font-size: 2.5em;
    font-family: 'Share Regular';
    margin: .25em 0;
}

#rightHeaderContainer .downArrow{
    width: 10%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 2.5rem;
}

@media screen and (min-width: 1920px){
    #leftHeaderContainer .shareText{
        font-size: 3.25em;
    }

    #leftHeaderContainer .sideTitle{
        font-size: 3.25em;
    }

    #leftHeaderContainer .shareIconContainer{
        gap: 1em;
    }

    #leftHeaderContainer .line{
        border: .25em solid var(--black);
    }

    #rightHeaderContainer .filmTitle{
        font-size: 6em;
    }

    #rightHeaderContainer .filmDate{
        font-size: 4.5em;
    }

    #menu ul a li{
        font-size: 4em;
        margin: 0;
    }
}

@media screen and (min-width: 2560px){
    #leftHeaderContainer .shareText{
        font-size: 4.5em;
    }

    #leftHeaderContainer .sideTitle{
        font-size: 4.5em;
    }

    #leftHeaderContainer .shareIconContainer{
        gap: 1.5em;
        margin: 2.5em 0;
    }

    #leftHeaderContainer .line{
        border: .25em solid var(--black);
    }

    #rightHeaderContainer .filmTitle{
        font-size: 8em;
    }

    #rightHeaderContainer .filmDate{
        font-size: 6.5em;
    }

    #menu ul a li{
        font-size: 6em;
        margin: 0;
    }
}

@media screen and (min-width: 2560px){
    @media screen and (min-height: 2160px){
        #leftHeaderContainer .shareText{
            font-size: 6em;
        }
    
        #leftHeaderContainer .sideTitle{
            font-size: 6em;
        }
    
        #leftHeaderContainer .shareIconContainer{
            gap: 2em;
            margin: 4em 0;
        }
    
        #leftHeaderContainer .line{
            height: 8em;
            border: .25em solid var(--black);
        }
    
        #rightHeaderContainer .filmTitle{
            font-size: 12em;
        }
    
        #rightHeaderContainer .filmDate{
            font-size: 9.5em;
        }
    
        #menu ul a li{
            font-size: 8em;
            margin: 0;
        }
    }
}

@media screen and (max-width: 1025px){
    #rightHeaderContainer .filmTitle{
        font-size: 3.25em;
    }

    #rightHeaderContainer .filmDate{
        font-size: 2.25em;
    }

    #menu ul a li{
        font-size: 2.25em;
    }

    #rightHeaderContainer .downArrow{
        margin-top: 1.5rem;
    }

    @media screen and (min-height: 910px){
        #floatingMenu{
            display: block;
        }

        #header{
            flex-wrap: wrap;
        }
    
        #leftHeaderContainer{
            flex-basis: 10%;
    
            position: relative;
            height: inherit;
        }

        #leftHeaderContainer .shareText{
            font-size: 3em;
        }

        #leftHeaderContainer .sideTitle{
            font-size: 3em;
        }
    
        #middleHeaderContainer{
            flex-basis: 90%;
        }
    
        #rightHeaderContainer{
            display: none;
        }
    }
}

@media screen and (max-width: 897px){
    @media screen and (max-height: 481px){
        #floatingMenu{
            display: block;
            right: 3em;
        }

        #leftHeaderContainer{
            display: none;
        }

        #middleHeaderContainer{
            flex-basis: 100%;
        }

        #rightHeaderContainer{
            display: none;
            opacity: 0;
            right: -300px;
        }

        #rightHeaderContainer .filmTitle{
            font-size: 2.5em;
        }

        #rightHeaderContainer .filmDate{
            font-size: 1.75em;
            margin-top: .5rem;
        }

        #rightHeaderContainer #menu{
            margin-top: 1.5rem;
        }

        #menu ul a li{
            font-size: 1.75em;
        }

        #rightHeaderContainer .downArrow{
            display: none;
        }
    }
}

@media screen and (max-width: 769px){
    @media screen and (min-height: 482px){
        #floatingMenu{
            display: block;
        }

        #header{
            flex-wrap: wrap;
        }

        #leftHeaderContainer{
            flex-basis: 10%;

            position: relative;
            height: inherit;
        }

        #leftHeaderContainer .shareText{
            font-size: 2.25em;
        }

        #leftHeaderContainer .sideTitle{
            font-size: 2.25em;
        }

        #middleHeaderContainer{
            flex-basis: 90%;
        }

        #rightHeaderContainer{
            display: none;
            opacity: 0;
            right: -300px;
        }

        #rightHeaderContainer .downArrow{
            display: none;
        }
    }
}

@media screen and (max-width: 600px){
    #leftHeaderContainer{
        padding: 2em 0;
    }

    #leftHeaderContainer .shareText{
        font-size: 1.75em;
    }

    #leftHeaderContainer .sideTitle{
        font-size: 1.75em;
    }
}

@media screen and (max-width: 481px){
    #leftHeaderContainer{
        display: none;
    }

    #middleHeaderContainer{
        flex-basis: 100%;
    }

    #floatingMenu{
        right: 2em;
        top: 2em;
    }

    #floatingMenu #menuIcon{
        width: 4em;
    }
}

@media screen and (max-width: 426px){
    #leftHeaderContainer{
        padding: 2em 0;
    }

    #leftHeaderContainer .shareText{
        font-size: 1.25em;
    }

    #leftHeaderContainer .sideTitle{
        font-size: 1.25em;
    }

    #leftHeaderContainer .line{
        height: 1em;
    }

    #leftHeaderContainer .shareIconContainer{
        margin: 1em 0
    }

    #floatingMenu{
        right: 1.5em;
        top: 3em;
    }

    #floatingMenu #menuIcon{
        width: 3em;
    }
}

@media screen and (max-width: 376px){
    #leftHeaderContainer{
        padding: 1em 0;
    }

    #leftHeaderContainer .shareText{
        font-size: 1em;
    }

    #leftHeaderContainer .sideTitle{
        font-size: 1em;
    }

    #leftHeaderContainer .line{
        margin: .5em 0;
    }

    #floatingMenu{
        right: 1.5em;
        top: 1.5em;
    }

    #floatingMenu #menuIcon{
        width: 3em;
    }
}