body, *{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.cursorChange{
    cursor: url('../images/image_cursor.png'), auto;	
}

#container{
    width: 100%;
    background: linear-gradient(180deg, #D2E7EE 0%, #D2E7EE 80%, #FEFBF4 100%);
}

#container2{
    width: 100%;
    background-color: var(--white);
}

/*Floating Menu*/
#floatingMenu{
    display: none;

    position: fixed;
    top: 3em;
    right: 3em;
    z-index: 99;
}

#floatingMenu #menuIcon{
    width: 5em;
}

/*Header*/
#header{
    display: flex;
}

#leftHeaderContainer{
    flex-basis: 5%;
    overflow: hidden;
    height: 100vh;

    position: sticky;
    top: 0;
    padding: 3rem 0;
}

#leftHeaderContainer > *{
    position: relative;
    left: -50px;
    opacity: 0;
}

#leftHeaderContainer #leftHeaderInnerContainer{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

#leftHeaderContainer .shareText{
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    font-family: 'Share Regular';
    font-size: 2em;
    line-height: 100%;

    margin-block-end: 0;
    margin-block-start: 0;

    writing-mode: vertical-rl;

    color: var(--black);
}

#leftHeaderContainer .shareIconContainer{
    width: 100%;

    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
    gap: .25em;
}

#leftHeaderContainer .shareIcon{
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    width: 40%;
    background-size: contain;
    background-repeat: no-repeat;

    transition: opacity .2s ease-in-out;
}

#leftHeaderContainer .shareIcon:hover{
    opacity: .75 !important;
}

#leftHeaderContainer .line{
    width: 0px;
    height: 4em;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    border: .05em solid var(--black);
    margin: 1.5em 0;
}

#leftHeaderContainer .sideTitle{
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    font-family: 'Share Regular';
    font-size: 2em;
    line-height: 100%;

    margin-block-end: 0;
    margin-block-start: 0;

    writing-mode: vertical-rl;

    color: var(--black);
}

#middleHeaderContainer{
    flex-basis: 63%;
    position: relative;
    opacity: 0;
}

#middleHeaderContainer #mainPoster{
    width: 100%;
}

#rightHeaderContainer{
    flex-basis: 32%;
    overflow: hidden;
    height: 100vh;
    
    position: sticky;
    top: 0;

    padding: 2em 0;
    z-index: 99;
}

#rightHeaderContainer #rightHeaderInnerContainer{
    margin: 0 auto;
    padding: 0 5%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);

}

#rightHeaderContainer .filmTitle{
    font-family: 'Indie Flower Regular';
    font-size: 4.5em;
    text-align: center;
    line-height: 1;

    color: var(--black);

    position: relative;
    top: 100px;
    opacity: 0;
}

#rightHeaderContainer .filmDate{
    font-family: 'Indie Flower Regular';
    font-size: 3.5em;
    text-align: center;
    line-height: 1;

    margin-top: 1rem;
    color: var(--black);

    position: relative;
    top: 100px;
    opacity: 0;
}

#rightHeaderContainer #menu{
    margin-top: 1.5rem;
}

#menu ul{
    text-align: center;
    list-style-type: none;
}

#menu ul a{
    text-decoration: none;
    color: var(--black);
}

#menu ul a li{
    font-size: 2.5em;
    font-family: 'Share Regular';
    margin: .25em 0;

    transition: opacity .2s ease-in-out, font-weight .2s ease-in-out;
}

.menuList{
    position: relative;
    opacity: 0;
    top: 100px;
}

#menu ul a li:hover{
    opacity: .75 !important;
}

#menu ul a li:active{
    opacity: 1;
}

#rightHeaderContainer .downArrow{
    width: 10%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 2.5rem;
    cursor: pointer;

    transition: opacity .2s ease-in-out;

    opacity: 0;
    top: 100px;
}

#rightHeaderContainer .downArrow:hover{
    opacity: .75 !important;
}

#rightHeaderContainer .decoration{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

/*Floating Trailer*/
#floatingContainer{
    position: fixed;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background: rgba(15, 18, 21, 0.75);

    z-index: 100;

    display: none;
}

#floatingContainer #floatingVideoContainer{
    position: relative;
    width: 75%;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
}

#floatingContainer #floatingTrailerVideo{
    width: 100%;
    z-index: 1;
}

#floatingContainer .closeIcon{
    position: absolute;
    z-index: 2;
    width: 5%;
    top: -2%;
    right: -2%;

    cursor: pointer;
}

/*Trailer*/
#trailer{
    padding: 2rem 0 2rem 5%;

    display: flex;
    flex-direction: column;
}

#topTrailerContainer #filmInfoMobile{
    display: none;
    margin-bottom: 1rem;
}

#filmInfoMobile #filmTitleMobile{
    font-family: 'Share Bold';
    font-size: 5rem;
    font-weight: normal;

    line-height: 1;
}

#filmInfoMobile #filmDateMobile{
    font-family: 'Share Regular';
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
}

#trailer #filmAuthor{
    font-family: 'Share Regular';
    font-weight: normal;
    font-size: 4rem;
    margin-bottom: .5rem;
}

#filmAuthor b{
    font-family: 'Share Bold';
    font-weight: normal;
}

#bottomTrailerContainer{
    display: flex;
}

#bottomTrailerContainer #leftTrailerContainer{
    flex-basis: 66%;
}

#leftTrailerContainer #trailerVideoBlackScreen{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0;
    transition: opacity .4s ease-in-out;
}

#leftTrailerContainer #trailerVideo{
    width: 100%;
}

#leftTrailerContainer #trailerVideoContainer{
    position: relative;
    cursor: pointer;
}

#trailerVideoContainer .videoPlayButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    width: 20%;
    opacity: 1;

    transition: opacity .4s ease-in-out;
}

#trailerVideoContainer:hover .videoPlayButton{
    opacity: .8;
}

#leftTrailerContainer #trailerCastContainer{
    padding-top: 1em;

    display: flex;
    gap: 2em;
}

#trailerCastContainer .trailerCastName{
    font-size: 2em;
    font-family: 'Share Regular';
    font-weight: normal;
}

#trailerCastContainer .trailerCastName b{
    font-family: 'Share Bold';
}

#trailerCastContainer .trailerCastAs{
    font-size: 2em;
    font-family: 'Share Regular';
    font-weight: normal;
}

#bottomTrailerContainer #rightTrailerContainer{
    flex-basis: 34%;
    position: relative;
}

#rightTrailerContainer #trailerText{
    font-family: 'Share Bold';
    font-size: 5rem;
    writing-mode: vertical-rl;
    position: relative;
    z-index: 1;
}

.more{
    display: inline-block;
    align-items: center;

    margin-left: 1rem;
    margin-top: 1rem;

    gap: .5rem;

    position: relative;
    z-index: 1;
}

.more{
    transition: opacity .4s ease-in-out;
}

.more:hover{
    opacity: .8;
}

#rightTrailerContainer a{
    text-decoration: none;
    color: var(--black);
}

.more p{
    display: inline-block;
    font-family: 'Share Regular';
    font-size: 2rem;
}

.more .iconify{
    position: relative !important;
    transform: translateY(15%) !important;
}

.more img{
    width: 2%;
}

#rightTrailerContainer .decoration{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

/*Introduction and News*/
#introductionNews{
    position: relative;
    display: flex;

    padding: 2rem 0;
}

#introductionNews h1{
    font-family: 'Share Bold';
    font-size: 4rem;
    margin-bottom: .25em;
}

#introductionContainer{
    flex-basis: 68%;
    padding: 0 5% 0 5%;
}

#introductionContainer .introductionText{
    font-family: 'Share Regular';
    font-size: 1.75rem;
    margin-bottom: .5em;
}

#introductionContainer #introductionImageContainer{
    position: relative;
    display: flex;
    gap: 1em;

    margin-top: 1.5em;
}

#introductionImageContainer #introductionMainImage{
    flex-basis: 70%;
    overflow: hidden;
}

#introductionMainImage .mainImage{
    width: 100%;
    transition: transform .5s ease-in-out;

    position: relative;
    z-index: 1;
}

#introductionMainImage:hover .mainImage{
    transform: scale(1.5);
}

#introductionImageContainer #introductionSubImage{
    flex-basis: 30%;

    display: flex;
    flex-direction: column;
    gap: 1em;

    position: relative;
    z-index: 1;
}

#introductionSubImage .introductionSubImage{
    flex-basis: 50%;
    background-size: cover;
    background-position: center center;

    cursor: pointer;
}

#introductionSubImage .introductionSubImage:hover{
    box-shadow: inset 0px 0px 4px var(--white);
}

.introductionSubImage .subImageMask{
    width: 100%;
    height: 100%;
    background-color: var(--black);

    opacity: .8;
}

.introductionSubImage .subImageMask:hover{
    box-shadow: inset 0px 0px 4px var(--white);
}

#introductionImageContainer .decoration2{
    position: absolute;
    margin-left: -10%;
    bottom: 0;
    left:0;
    width: 50%;
    z-index: 0;
}

#newsContainer{
    flex-basis: 32%;
}

#newsContentContainer{
    display: flex;
    flex-direction: column;
}

.newsContent{
    padding-right: 20%;
}

.newsContent img{
    width: 100%;
    margin-bottom: .5em;
}

.newsContent a{
    text-decoration: none;
    color: var(--black);
}

.newsContent a:hover .newsDate{
    opacity: .8;
}

.newsContent a:hover .newsTitle{
    opacity: .8;
}

.newsContent a:hover .newsText{
    opacity: .8;
}

.newsContent .newsDate{
    font-family: 'Share Regular';
    font-size: 1.5em;

    transition: opacity .2s ease-in-out;
}

.newsContent .newsTitle{
    font-family: 'Share Bold';
    font-size: 2em;

    transition: opacity .2s ease-in-out;
}

.newsContent .newsText{
    font-family: 'Share Regular';
    font-size: 1.5em;
    margin-bottom: .5em;

    transition: opacity .2s ease-in-out;
}

@media screen and (min-width: 1920px){
    #leftHeaderContainer .shareText{
        font-size: 3.25em;
    }

    #leftHeaderContainer .sideTitle{
        font-size: 3.25em;
    }

    #leftHeaderContainer .shareIconContainer{
        gap: 1em;
    }

    #leftHeaderContainer .line{
        border: .25em solid var(--black);
    }

    #rightHeaderContainer .filmTitle{
        font-size: 6em;
    }

    #rightHeaderContainer .filmDate{
        font-size: 4.5em;
    }

    #menu ul a li{
        font-size: 4em;
        margin: 0;
    }

    #trailer #filmAuthor{
        font-size: 5.5rem;
    }

    #rightTrailerContainer #trailerText{
        font-size: 6rem;
    }

    .more p{
        font-size: 3rem;
    }

    .more .iconify{
        font-size: 2.75rem !important;
    }

    #trailerCastContainer .trailerCastName{
        font-size: 3rem;
    }
}

@media screen and (min-width: 2560px){
    #leftHeaderContainer .shareText{
        font-size: 4.5em;
    }

    #leftHeaderContainer .sideTitle{
        font-size: 4.5em;
    }

    #leftHeaderContainer .shareIconContainer{
        gap: 1.5em;
        margin: 2.5em 0;
    }

    #leftHeaderContainer .line{
        border: .25em solid var(--black);
    }

    #rightHeaderContainer .filmTitle{
        font-size: 8em;
    }

    #rightHeaderContainer .filmDate{
        font-size: 6.5em;
    }

    #menu ul a li{
        font-size: 6em;
        margin: 0;
    }

    #trailer #filmAuthor{
        font-size: 6.5rem;
    }

    #rightTrailerContainer #trailerText{
        font-size: 7rem;
    }

    .more p{
        font-size: 4rem;
    }

    .more .iconify{
        font-size: 3.75rem !important;
    }

    #trailerCastContainer .trailerCastName{
        font-size: 4rem;
    }

    #bottomTrailerContainer #rightTrailerContainer{
        padding-left: .5rem;
    }
}

@media screen and (min-width: 2560px){
    @media screen and (min-height: 2160px){
        #leftHeaderContainer .shareText{
            font-size: 6em;
        }
    
        #leftHeaderContainer .sideTitle{
            font-size: 6em;
        }
    
        #leftHeaderContainer .shareIconContainer{
            gap: 2em;
            margin: 4em 0;
        }
    
        #leftHeaderContainer .line{
            height: 8em;
            border: .25em solid var(--black);
        }
    
        #rightHeaderContainer .filmTitle{
            font-size: 12em;
        }
    
        #rightHeaderContainer .filmDate{
            font-size: 9.5em;
        }
    
        #menu ul a li{
            font-size: 8em;
            margin: 0;
        }
    }
}

@media screen and (min-width: 3440px){
    #trailer #filmAuthor{
        font-size: 7.5rem;
    }

    #leftTrailerContainer #trailerCastContainer{
        gap: 4em;
    }

    #rightTrailerContainer #trailerText{
        font-size: 10rem;
    }

    .more p{
        font-size: 5rem;
    }

    .more .iconify{
        font-size: 4.75rem !important;
    }

    #trailerCastContainer .trailerCastName{
        font-size: 5rem;
    }

    #bottomTrailerContainer #rightTrailerContainer{
        padding-left: .5rem;
    }

    .more{
        margin-left: 2rem;
    }
}

@media screen and (min-width: 3840px){
    #trailer{
        padding: 4rem 0 4rem 5%
    }

    #trailer #filmAuthor{
        font-size: 8.5rem;
    }

    #leftTrailerContainer #trailerCastContainer{
        padding-top: 3em;
    }

    #rightTrailerContainer #trailerText{
        font-size: 12rem;
    }

    .more p{
        font-size: 6rem;
    }

    .more .iconify{
        font-size: 5.5rem !important;
    }

    #trailerCastContainer .trailerCastName{
        font-size: 5.75rem;
    }

    #bottomTrailerContainer #rightTrailerContainer{
        padding-left: .5rem;
    }

    .more{
        margin-left: 2rem;
    }
}

@media screen and (max-width: 1286px){
    #trailer #filmAuthor{
        font-size: 3.5rem;
    }

    #rightTrailerContainer #trailerText{
        font-size: 4.5rem;
    }

    #trailerCastContainer .trailerCastName{
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 1025px){
    #floatingContainer #floatingVideoContainer{
        width: 85%;
    }

    #floatingContainer .closeIcon{
        width: 10%;
        top: -6%;
        right: -4%;
    }

    #floatingMenu #menuIcon{
        width: 8em;
    }

    #leftHeaderContainer .line{
        height: 2em;
    }

    #leftHeaderContainer .sideTitle{
        font-size: 1.5em;
    }

    #leftHeaderContainer .shareText{
        font-size: 1.5em;
    }

    #rightHeaderContainer .filmTitle{
        font-size: 3.5em;
    }

    #rightHeaderContainer .filmDate{
        font-size: 2.5em;
    }

    #menu ul a li{
        font-size: 2em;
    }

    #rightHeaderContainer .downArrow{
        margin-top: 1.5rem;
    }

    #trailer{
        padding: 2rem 0 2rem 5%;
    }

    #topTrailerContainer #filmInfoMobile{
        display: block;
    }

    #filmInfoMobile #filmTitleMobile{
        font-size: 4.25rem;
    }

    #filmInfoMobile #filmDateMobile{
        font-size: 3.25rem;
    }

    #trailer #filmAuthor{
        font-size: 3rem;
    }

    #bottomTrailerContainer #leftTrailerContainer{
        flex-basis: 80%;
    }

    #bottomTrailerContainer #rightTrailerContainer{
        flex-basis: 20%;
        overflow: hidden;
    }

    #rightTrailerContainer #trailerText{
        font-size: 4rem;
    }

    #rightTrailerContainer .decoration{
        height: 50%;
        width: inherit;
    }

    @media screen and (min-height: 910px){
        #floatingMenu{
            display: block;
        }

        #header{
            flex-wrap: wrap;
        }
    
        #leftHeaderContainer{
            flex-basis: 10%;
    
            position: relative;
            height: inherit;
        }

        #leftHeaderContainer .shareText{
            font-size: 3em;
        }

        #leftHeaderContainer .sideTitle{
            font-size: 3em;
        }
    
        #middleHeaderContainer{
            flex-basis: 90%;
        }
    
        #rightHeaderContainer{
            display: none;
            right: -100px;
            opacity: 0; 
        }

        #trailer{
            padding: 2rem 0 2rem 10%;
        }

        #filmInfoMobile #filmTitleMobile{
            font-size: 4.25rem;
        }

        #filmInfoMobile #filmDateMobile{
            font-size: 3.25rem;
        }

        #trailer #filmAuthor{
            font-size: 3.25rem;
        }

        #rightTrailerContainer #trailerText{
            font-size: 4rem;
        }
    }
}

@media screen and (max-width: 901px){
    #trailer #filmAuthor{
        font-size: 2.75rem;
    }

    #rightTrailerContainer #trailerText{
        font-size: 3.75rem;
    }

    .more{
        margin-left: .5rem;
    }

    #leftTrailerContainer #trailerCastContainer{
        padding-top: .75rem;
    }

    #filmInfoMobile #filmTitleMobile{
        font-size: 4rem;
    }

    #filmInfoMobile #filmDateMobile{
        font-size: 3rem;
    }

    #trailerCastContainer .trailerCastName{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 897px){
    @media screen and (max-height: 481px){
        #floatingMenu{
            display: block;
            right: 3em;
        }

        #floatingMenu #menuIcon{
            width: 5em;
        }

        #leftHeaderContainer{
            display: none;
        }

        #middleHeaderContainer{
            flex-basis: 100%;
        }

        #rightHeaderContainer{
            display: none;
            opacity: 0;
            right: -300px;
        }

        #rightHeaderContainer .filmTitle{
            font-size: 2.5em;
        }

        #rightHeaderContainer .filmDate{
            font-size: 1.75em;
            margin-top: .5rem;
        }

        #rightHeaderContainer #menu{
            margin-top: 1.5rem;
        }

        #menu ul a li{
            font-size: 1.75em;
        }

        #rightHeaderContainer .downArrow{
            display: none;
        }

        #floatingContainer #floatingVideoContainer{
            width: 65%;
        }

        #leftTrailerContainer #trailerCastContainer{
            gap: 1em;
            padding-top: .5rem;
        }
    }

    @media screen and (max-height: 400px){
        #rightHeaderContainer .filmTitle{
            font-size: 2em;
        }

        #rightHeaderContainer .filmDate{
            font-size: 1.5em;
            margin-top: .5rem;
        }

        #rightHeaderContainer #menu{
            margin-top: .5rem;
        }

        #menu ul a li{
            font-size: 1.5em;
        }

        #rightHeaderContainer .downArrow{
            display: none;
        }
    }
}

@media screen and (max-width: 769px){
    @media screen and (min-height: 482px){
        #floatingMenu{
            display: block;
        }

        #floatingMenu #menuIcon{
            width: 5em;
        }

        #header{
            flex-wrap: wrap;
        }

        #leftHeaderContainer{
            flex-basis: 10%;

            position: relative;
            height: inherit;
        }

        #leftHeaderContainer .shareText{
            font-size: 2.25em;
        }

        #leftHeaderContainer .sideTitle{
            font-size: 2.25em;
        }

        #middleHeaderContainer{
            flex-basis: 90%;
        }

        #rightHeaderContainer{
            display: none;
            opacity: 0;
            right: -300px;

            background: linear-gradient(180deg, #F3F6EF 0%, #D2E7EE 18.42%);
        }

        #rightHeaderContainer .decoration{
            display: none;
        }

        #rightHeaderContainer .downArrow{
            display: none;
        }

        #trailer{
            padding: 2rem 0 2rem 10%;
        }

        #trailer #filmAuthor{
            font-size: 2.5rem;
        }
    
        #rightTrailerContainer #trailerText{
            font-size: 3.5rem;
        }
    
        #leftTrailerContainer #trailerCastContainer{
            padding-top: .5rem;
        }
    
        #filmInfoMobile #filmTitleMobile{
            font-size: 3.5rem;
        }
    
        #filmInfoMobile #filmDateMobile{
            font-size: 2.5rem;
        }
    
        #trailerCastContainer .trailerCastName{
            font-size: 1.25rem;
        }

        #rightTrailerContainer #trailerText{
            font-size: 3rem;
        }

        .more{
            margin-top: .5rem;
            margin-left: .5rem;
        }

        .more p{
            font-size: 1.5rem;
        }

        .more .iconify{
            font-size: 1.25rem !important;
        }
    }
    @media screen and (max-height: 482px){
        #trailer{
            padding: 2rem 0 2rem 5%;
        }
    }

    #filmInfoMobile #filmTitleMobile{
        font-size: 3.5rem;
    }

    #filmInfoMobile #filmDateMobile{
        font-size: 3rem;
    }

    #trailer #filmAuthor{
        font-size: 2.25rem;
    }

    #trailerCastContainer .trailerCastName{
        font-size: 1.25rem;
    }

    #rightTrailerContainer #trailerText{
        font-size: 3rem;
    }

    .more p{
        font-size: 1.5rem;
    }

    .more .iconify{
        font-size: 1.25rem !important; 
    }

    .more{
        margin-top: .5rem;
    }
}

@media screen and (max-width: 601px){
    #floatingMenu #menuIcon{
        width: 6em;
    }

    #leftHeaderContainer{
        padding: 2em 0;
    }

    #leftHeaderContainer .shareText{
        font-size: 1.75em;
    }

    #leftHeaderContainer .sideTitle{
        font-size: 1.75em;
    }

    #trailer{
        padding: 1.5rem 0 1.5rem 10%;
    }

    #trailer #filmAuthor{
        font-size: 2rem;
    }

    #rightTrailerContainer #trailerText{
        font-size: 3rem;
    }

    #leftTrailerContainer #trailerCastContainer{
        padding-top: .5rem;
    }

    #filmInfoMobile #filmTitleMobile{
        font-size: 3rem;
    }

    #filmInfoMobile #filmDateMobile{
        font-size: 2rem;
    }

    #leftTrailerContainer #trailerCastContainer{
        gap: 1em;
    }

    #trailerCastContainer .trailerCastName{
        font-size: 1rem;
    }

    #rightTrailerContainer #trailerText{
        font-size: 2.25rem;
    }

    .more{
        margin-top: .5rem;
        margin-left: .5rem;
    }

    .more p{
        font-size: 1.25rem;
    }

    .more .iconify{
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 481px){
    #leftHeaderContainer{
        display: none;
    }

    #middleHeaderContainer{
        flex-basis: 100%;
    }

    #floatingMenu{
        right: 2em;
        top: 2em;
    }

    #floatingMenu #menuIcon{
        width: 4em;
    }

    #trailer{
        padding: 1rem 0 1rem 5%;
    }

    #filmInfoMobile #filmTitleMobile{
        font-size: 2.5rem;
    }

    #topTrailerContainer #filmInfoMobile{
        margin-bottom: .5rem;
    }

    #trailer #filmAuthor{
        font-size: 1.75rem;
    }

    #filmInfoMobile #filmDateMobile{
        font-size: 2rem;
    }

    #leftTrailerContainer #trailerCastContainer{
        padding-top: .25rem;
        gap: .5em;
    }

    #trailerCastContainer .trailerCastName{
        font-size: 1rem;
    }

    #rightTrailerContainer #trailerText{
        font-size: 2rem;
    }

    .more p{
        font-size: 1rem;
    }

    .more .iconify{
        font-size: .75rem !important;
    }
}

@media screen and (max-width: 426px){
    #leftHeaderContainer{
        padding: 2em 0;
    }

    #leftHeaderContainer .shareText{
        font-size: 1.25em;
    }

    #leftHeaderContainer .sideTitle{
        font-size: 1.25em;
    }

    #leftHeaderContainer .line{
        height: 1em;
    }

    #leftHeaderContainer .shareIconContainer{
        margin: 1em 0
    }

    #floatingMenu{
        right: 1.5em;
        top: 2em;
    }

    #floatingMenu #menuIcon{
        width: 4em;
    }

    #filmInfoMobile #filmTitleMobile{
        font-size: 2.25rem;
    }

    #filmInfoMobile #filmDateMobile{
        font-size: 1.75rem;
    }

    #trailer #filmAuthor{
        font-size: 1.5rem;
        margin-bottom: .25rem;
    }

    #leftTrailerContainer #trailerCastContainer{
        padding-top: 0;
    }

    #trailerCastContainer .trailerCastName{
        font-size: 1rem;
    }

    #rightTrailerContainer #trailerText{
        font-size: 2rem;
    }

    .more{
        margin-left: .4rem;
        margin-top: 0;
    }

    .more p{
        font-size: .75rem;
    }

    .more .iconify{
        font-size: .5rem !important;
    }
}

@media screen and (max-width: 376px){
    #floatingMenu #menuIcon{
        width: 4em;
    }

    #leftHeaderContainer{
        padding: 1em 0;
    }

    #leftHeaderContainer .shareText{
        font-size: 1em;
    }

    #leftHeaderContainer .sideTitle{
        font-size: 1em;
    }

    #leftHeaderContainer .line{
        margin: .5em 0;
    }

    #floatingMenu{
        right: 1.5em;
        top: 1.5em;
    }

    #topTrailerContainer #filmInfoMobile{
        margin-bottom: .25rem;
    }

    #filmInfoMobile #filmTitleMobile{
        font-size: 1.75rem;
    }

    #filmInfoMobile #filmDateMobile{
        font-size: 1.5rem;
    }

    #trailer #filmAuthor{
        font-size: 1rem;
        margin-bottom: .25rem;
    }

    #leftTrailerContainer #trailerCastContainer{
        padding-top: 0;
    }

    #trailerCastContainer .trailerCastName{
        font-size: .65rem;
    }

    #rightTrailerContainer #trailerText{
        font-size: 1.5rem;
    }

    .more{
        margin-left: .25rem;
        margin-top: 0;
    }

    .more p{
        font-size: .75rem;
    }

    .more .iconify{
        font-size: .5rem !important;
    }
}